body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
    color: #fff;
    font-family: monospace;
    overflow: hidden;
    margin: 0;
}

#container {
    margin-bottom: auto;
    position: relative;
}

h1, p {
    margin: 0;
    padding: 10px;
    text-align: center;
}

h1 {
    margin-top: 50px; /* Aumentar a distância do topo */
}

pre {
    font-size: 12px;
}

/* Tornar o botão responsivo */
button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #555;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 20px;
    width: 100%; /* Ocupa toda a largura disponível */
    max-width: 300px; /* Limite máximo para o tamanho do botão */
}

button:hover {
    background-color: #777;
}

#message {
    margin-top: 20px;
    font-size: 18px;
    color: #0f0;
    display: none;
    text-align: center;
}

/* Posicionar o botão de idioma no canto superior esquerdo */
#languageButton {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 10px;
    background-color: #333;
    color: white;
    cursor: pointer;
}

#languageButton:hover {
    background-color: #555;
}

footer {
    margin-top: auto;
    padding: 20px;
    background-color: #111;
    width: 100%;
    text-align: center;
}

footer p {
    margin: 0;
    color: #fff;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    margin: 0 10px;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.social-links a:hover {
    color: #0f0;
}

/* Media Queries para Responsividade */
@media (max-width: 600px) {
    h1 {
        font-size: 24px; /* Tamanho da fonte para telas menores */
    }
    
    p {
        font-size: 16px; /* Tamanho da fonte para o subtítulo */
    }
    
    pre {
        font-size: 10px; /* Ajusta o tamanho do texto */
    }

    button {
        font-size: 14px; /* Tamanho da fonte do botão */
        padding: 10px 15px; /* Ajusta o padding do botão */
    }
}
